[Unit]
Description=service-store
After=syslog.target network.target

[Service]
ExecStart=/usr/bin/java -jar /home/onss/service-store-0.0.1-SNAPSHOT.jar --server.port=8020 --spring.profiles.active=master

[Install]
WantedBy=multi-user.target